{% extends 'polls/base.html' %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="#about">Voir le formulaire de contact</a></li>
{% endblock %}

{% block title %}
    Formulaire de contact
{% endblock %}

{% block description %}
    Envoyez nous la question et les reponses que vous souhaitez ajouter dans la liste des sondages
{% endblock %}

{% block description_button %}
    Envoyer
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if error_message %}<p class="text-white-75 mb-4"><strong>{{ error_message }}</strong></p>{% endif %}
        {{form.as_p}}
        <input class="btn btn-light btn-xl mt-4" type="submit" value="Envoyer ma demande">
    </form>
{% endblock %}
