{% extends 'polls/base.html' %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="#about">Voir les détails</a></li>
                    <li class="nav-item"><a class="nav-link" href="/polls/contact/">Contact</a></li>
{% endblock %}

{% block title %}
    Detail du sondage
{% endblock %}

{% block description %}
    Vous trouverez le détail du sondage ci-dessous
{% endblock %}

{% block description_button %}
    En savoir plus
{% endblock %}

{% block content %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h2 class="text-white mt-0">{{ question.question_text }}</h2></legend>
        <hr class="divider divider-light" />
        {% if error_message %}<p class="text-white-75 mb-4"><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label class="text-white-75" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input class="btn btn-light btn-xl mt-4" type="submit" value="Vote">
    </form>
{% endblock %}
